html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2.75vw;
    padding: 5px 15px;
}

.output {
    font-size: 1.75vw;
    padding: 5px 15px;
}

.button {
    border: none;
    
}

.button {
    position: absolute;
}