html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2.75vw;
    padding: .5vw 1.5vw;
}

.output {
    font-size: 1.75vw;
    padding: .5vw 1.5vw;
}

#resetButton, #submitButton {
    position:absolute;
    top: 8.5vw;
    left: 16vw;
    height: 2vw;
    font-size: 1.5vw;
}

#submitButton {
    left: 22vw;
}

.button {
    position: absolute;
    border: none;
    border-radius: 6px;
}